* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "M Plus Rounded 1c", sans-serif;
    color: #fff;
}

/******************

BACKGROUND-COLOR:
    #607D8B
    #37474F
    #CFD8DC
    #424242
    #000022

BORDER:
    #000000

BUTTONS:
    #4CAF50
    #2E7D32
    #F44335
    #C52828
    #FFEB3A
    #FDD834
    #02A9F4
    #0377BC

******************/

.back {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-color: #000022;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }

    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.back::before {
    content: "";
    position: absolute;
    left: -20vmin;
    bottom: -20vmin;
    width: 70vmax;
    height: 70vmax;
    border-radius: 41% 59% 41% 59% / 57% 51% 49% 43%;
    background: rgba(255, 255, 255, 0.07);
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    animation-name: morph, spin;
    animation-duration: 15s, 20s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
}

.back::after {
    content: "";
    position: absolute;
    right: -10vmin;
    top: 0vmin;
    width: 70vmin;
    height: 70vmin;
    border-radius: 41% 59% 41% 59% / 57% 51% 49% 43%;
    background: rgba(255, 255, 255, 0.07);
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    animation-name: morph, spin;
    animation-duration: 15s, 20s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
}

/******************
****   NAVBAR  ****
******************/

.navigation {
    width: 100vw;
    height: 10vmin;
    padding: 10px 5%;
    z-index: 69;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-name {
    margin-right: auto;
    font-size: 2rem;
}

.link-to-gh {
    color: #fff;
    text-decoration: none;
    position: relative;

    font-size: 270%;
}

/******************
****  GAME BOX ****
******************/

.box {
    width: 85vmin;
    height: 85vmin;
    border: 1rem solid #000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #607d8b;
}

.box-content {
    width: 85%;
    height: 85%;

    display: grid;
    grid-template-columns: 48% 48%;
    gap: 5%;

    position: relative;

    background-color: transparent;
}

/******************
****  PRESSES  ****
******************/

.press {
    width: 100%;
    height: 100%;
    border: 1rem solid #000;
    border-radius: 100% 10% 0%;

    transition: background-color 0.1s ease-out;
}

.press--green {
    background-color: #4caf50;
    transform: rotateZ(0deg);
}

.press--green:hover,
.press--green.on {
    background-color: #2e7d32;
}

.press--red {
    background-color: #f44335;
    transform: rotateZ(90deg);
}

.press--red:hover,
.press--red.on {
    background-color: #c52828;
}

.press--blue {
    background-color: #ffeb3a;
    transform: rotateZ(270deg);
}

.press--blue:hover,
.press--blue.on {
    background-color: #fdd834;
}

.press--yellow {
    background-color: #02a9f4;
    transform: rotateZ(180deg);
}

.press--yellow:hover,
.press--yellow.on {
    background-color: #0377bc;
}

/******************

****  CONTROLS ****

******************/

.controls-hud {
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: #607d8b;

    left: 25%;
    top: 25%;

    border: 1rem solid #000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-hud::before {
    content: "";
    width: 13.5%;
    height: 130%;

    position: absolute;
    top: -15%;
    left: 44%;

    background-color: #607d8b;
}

.controls-hud::after {
    content: "";
    width: 130%;
    height: 12.4%;

    position: absolute;
    top: 44%;
    left: -15%;

    background-color: #607d8b;
}

.controls-panel {
    width: 80%;
    height: 80%;
    border: 1rem solid #000;
    border-radius: 50%;

    background-color: #424242;

    z-index: 69;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.controls-panel::before {
    content: "";

    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;

    background-color: #cfd8dc;

    clip-path: inset(30% 0 0 0);
    position: absolute;
}

.controls-panel::after {
    content: "";

    width: 100%;
    height: 1rem;
    background-color: #000;

    position: absolute;
    top: 25%;
}

.leds {
    width: 100%;
    height: 22%;

    margin-top: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    z-index: 69;
}

.led-btn {
    width: 22%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid red;
}

.btn-toggle {
    padding: 0;
    width: 50%;
    height: 20%;
    border-radius: 40px;
    border: 3px solid #000;

    z-index: 69;
}

/******************

**** AUTHOR Sec ***

******************/

.made-with-section {
    background-color: #262643;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9rem;
    color: #aa8ed6;
}

.author-name {
    font-weight: bold;
    color: #fff;
    color: #d4d4d9;
}
